img {
    max-width: 100%;
}

.icon img {
    filter: drop-shadow(2px 4px 4px black) brightness(1.1);
}

@keyframes inventory-item-full-anim {
    0% { outline-color: red; }
    100% { outline-color: transparent; }
}

.inventory-item-full {
    outline-width: 4px;
    outline-style: solid;    
    animation: inventory-item-full-anim .8s infinite;
}

