img {
    max-width: 100%;
}

.icon img {
    filter: drop-shadow(2px 4px 4px black) brightness(1.1);
}

@keyframes item-full-anim {
    0% { outline-color: red; }
    100% { outline-color: transparent; }
}

.item-full {
    outline-width: 2px;
    outline-style: double;
    animation: item-full-anim .8s infinite;
}

.item-auto-output svg {
    position: absolute;
}

.item-auto-output rect {
    stroke-dasharray: 4rem;
    stroke-width: 2px;
    fill: transparent;
    stroke: yellow;
    animation: item-auto-output-anim 10s linear infinite;
}

@keyframes item-auto-output-anim {
    from { stroke-dashoffset: 0; }
    to { stroke-dashoffset: 1000; }
}

