img {
    max-width: 100%;
}

.icon img {
    filter: drop-shadow(2px 4px 4px black) brightness(1.1);
}

@keyframes item-full-anim {
    0% { outline-color: red; }
    100% { outline-color: transparent; }
}

.item-full {
    outline-width: 2px;
    outline-style: double;
    animation: item-full-anim .8s infinite;
}

@keyframes item-auto-output-anim {
    0% { outline-color: yellow; }
    100% { outline-color: transparent; }
}

.item-auto-output {
    outline-width: 2px;
    outline-style: double;    
    animation: item-auto-output-anim .8s infinite;
}
